<h2 class="title">Most Recent Customer Messages</h2>
<div class="transcript base">
    <ul class="transcript__list">
        {{#each messages as |message|}}
            {{transcript-message message=message}}
        {{/each}}
    </ul>
</div>
