<span class='title'>Most Recent Customer Messages</span>
<div class='transcript base'>
    <ul class='transcript__list'>
        {{#each messages}}
            {{transcript-message}}
        {{/each}}
    </ul>
</div>
