<div class='activities'>
    <span>Activities for the Last 7 Days</span>
    <div class='fixtable-container'>
          {{fixtable-grid 
            tableClass='table-hover'
            columns=columnDefs 
            content=activities
          }}
    </div>
</div>